.right-section {
    width: 5%;
}

.left-section {
    width: 95%;
}

.left-section .top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.left-section .top-section .user-info {
    display: flex;
    gap: 1rem;
}

.left-section .top-section .user-info .date {
    color: var(--grayish-blue);
}

.left-section .top-section .user-info .name {
    font-weight: 500;
    color: var(--dark-blue);
}

.left-section .top-section .user-info .current-user-label {
    background-color: var(--moderate-blue);
    color: #fff;
    padding: 0.2rem 0.4rem;
    font-size: 14px;
    border-radius: 2px;
}

.left-section .top-section .buttons {
    display: flex;
    gap: 0.4rem;
}

.left-section .top-section .buttons button {
    background: none;
}

.left-section .description {
    display: block;
    width: 100%;
    color: var(--grayish-blue);
    font-weight: 400;
}

.reply-card-position {
    border-left: solid 0.3rem var(--light-grayish-blue);
    padding-left: 2rem;
    margin-left: 2rem;
}

.replyingTo {
    color: #5457b6;
    display: inline-block;
    font-weight: 700;
    margin-right: 10px;
}
