.card {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
    margin: 0 auto;
    position: relative;
    margin-top: 2rem;
}

@media (max-width: 426px) {
    .card {
        flex-direction: column-reverse;
    }
}
