.form {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: flex-start;
    height: clamp(4rem, 10vw, 7rem);
}

.comment-text {
    width: 80%;
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
    height: clamp(3rem, 10vw, 6rem);
    padding-left: 10px;
    color: var(--dark-blue);
    font-family: Rubik, sans-serif;
    font-size: 16px;
    margin-right: 10px;
    resize: none;
    outline: none;
}

button {
    background-color: var(--moderate-blue);
    color: #fff;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}

img {
    max-height: 3rem;
}


@media (max-width: 426px) {
    form {
        flex-wrap: wrap;
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        height: fit-content!important;
    }

    .comment-text {
        width: 60%;
    }
}