.updated-comment {
    width: 98%;
    border: 1px solid var(--dark-blue);
    border-radius: 10px;
    height: clamp(3rem, 10vw, 6rem);
    padding-left: 10px;
    color: var(--dark-blue);
    font-family: Rubik, sans-serif;
    font-size: 16px;
    resize: none;
    outline: none;
    margin: 1rem 1rem 1rem 0;
}

.edit-form {
    text-align: right;
}
